name: github pages

on:
    push:
        branches:
        - main

jobs:
    deploy:
        runs-on: ubuntu-18.04
        steps:
        - uses: actions/checkout@v2

        - name: Setup Node
          uses: actions/setup-node@v3
          with:
                node-version: '14'

        - name: NPM install
          run: npm install
        
        - name: Run github-pages package
          run: npm run deploy